TEST_VAR = true
APP_NAME = 'The Big Express (or something)'
APP_DEBUG = true
APP_URL = 'https://localhost:3000'
NODE_ENV = 'test'

APP_HOST='localhost'
APP_USER='user'
APP_PASSWORD='password'
APP_DATABASE='database'

PGUSER='user' 
PGPASSWORD='password'
PGHOST='localhost'
PGPORT=1234 
PGDATABASE='database'